Question 1: Answer

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7]
for i in numbers:
    square = i**2
    print("Square of", i, "is", square)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49

Question 2:Answer

In [4]:
for i in range(1, 10):
    if i%2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9

Question 3:Answer

In [6]:
numbers = [1, 2, 3, 4]
for i in numbers[::-1]:
    print(i)

4
3
2
1

Quesion 4: Answer

In [7]:
numbers = [1, 2, 3, 5, 6]
size = len(numbers)
for i in range(size):
    print('Index:', i, " ", 'Value:', numbers[i])

Index: 0   Value: 1
Index: 1   Value: 2
Index: 2   Value: 3
Index: 3   Value: 5
Index: 4   Value: 6

Question 5: Answer

In [8]:
name = "Harsh"
for i in name[::-1]:
    print(i, end=' ')

h s r a H