Question 1: Answer

In [ ]:
x = 5
y = "John"
print(type(x)) 
print(type(y))

<class 'int'>
<class 'str'>

Question 2: Answer

In [ ]:
3a=10      #invalid (cannot begin with number)
@abc=10     #invalid (should contain only alphanumeric and underscore)
a100=100     #valid 
_a984_=100  #valid
a9967$=100  #invalid (should contain only alphanumeric and underscore)
xyz-2=100    #invalid (should contain only alphanumeric and underscore)

SyntaxError: ignored

Question 3: Answer

In [4]:
list =[1, 6, 3, 5, 3, 4]
i=3
if i in list:
  print("3 exists in list") 
else:
  print("3 does not exist in list")
i=3
if i in list:
  print("6 exists in list") 
else:
  print("6 does not exist in list")

3 exists in list
6 exists in list

Question 4: Answer

In [7]:
from datetime import date
today = date.today()
print("Today's date is: ", today)

Today's date is:  2022-09-15

Question 5: Answer

In [10]:
print (9//2)
print (9%2)

4
1

Question 6: Answer

In [15]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Question 7: Answer

In [18]:
k = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
   k += i
print("\n")
print("Sum is: ", k)

Enter number 16


Sum is:  136

Question 8: Answer

In [22]:
for fizzbuzz in range(51):
 if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
  print("fizzbuzz")
  continue
 elif fizzbuzz % 3 == 0:
   print("fizz")
   continue
 elif fizzbuzz % 5 == 0:
  print("buzz")
  continue
  print(fizzbuzz)

fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz